[submodule "syntaxes"]
	path = syntaxes/matlab
	url = https://github.com/watermarkhu/MATLAB-Language-grammar
[submodule "vscode-markdown-tm-grammar"]
	path = syntaxes/markdown
	url = https://github.com/microsoft/vscode-markdown-tm-grammar
[submodule "test/regression/matlab/src/OpenTelemetry-Matlab"]
	path = test/regression/matlab/src/OpenTelemetry-Matlab
	url = https://github.com/mathworks/OpenTelemetry-Matlab
