[submodule "syntaxes"]
	path = syntaxes/matlab
	url = https://github.com/watermarkhu/MATLAB-Language-grammar
[submodule "vscode-markdown-tm-grammar"]
	path = syntaxes/markdown
	url = https://github.com/microsoft/vscode-markdown-tm-grammar
