repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.3.0
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
        pass_filenames: false
      # Run the formatter.
      - id: ruff-format
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
    - id: mypy
      additional_dependencies: ["types-pyyaml"]
      exclude: |
        (?x)^(
            example.py|
            test\/.*.py|
            docs\/.*.py
        )$
