repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.3.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
        pass_filenames: false
      # Run the formatter.
      - id: ruff-format
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
    - id: mypy
      additional_dependencies: ["types-pyyaml"]
      exclude: |
        (?x)^(
            example.py|
            test\/.*.py|
            docs\/.*.py
        )$

  - repo: https://github.com/python-poetry/poetry
    rev: "1.8.0"
    hooks:
    - id: poetry-check
    - id: poetry-export
      args: ["-f", "requirements.txt", "-o", "docs/requirements.txt", "--only", "doc"]
